<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dishbreak.jiraworkflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0E158EFE-F8C1-4F29-AC4B-53577B5B6A5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B655556-FA71-4FB9-A6C6-2B93DD8E3AF1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Paste to underlying app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EDC51B8-D1D9-4651-9B52-60CDB0D6CD39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B95671C-AFA4-4411-8479-0FE7B6A8689E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADEB2CC2-8D68-4F75-94A5-F787396BD689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B0FC0A1-16CC-4ADD-B650-A4C50218AF36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC970E53-35D9-4038-AA16-763556F598B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2301264A-8B69-4451-A558-3C97130E6CBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4091885B-9841-4845-8F7A-FD23F370563D</key>
		<array/>
		<key>74007628-96A9-41D7-A3B6-916EEBB99062</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B655556-FA71-4FB9-A6C6-2B93DD8E3AF1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Paste to underlying app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EDC51B8-D1D9-4651-9B52-60CDB0D6CD39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B655556-FA71-4FB9-A6C6-2B93DD8E3AF1</key>
		<array/>
		<key>A9FB1BCB-2E3E-4833-AC07-05181B870A0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EDC51B8-D1D9-4651-9B52-60CDB0D6CD39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADEB2CC2-8D68-4F75-94A5-F787396BD689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E638B9CE-AADF-46A5-BFCA-A7C76F3D32C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B5658BBE-6B5E-4ADF-9BCE-0D0959EF5B78</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4C05ECE-A136-43ED-A852-38B81DE0C1C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A818C23F-AC99-4FBD-8E62-8CEF7AFB9867</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8A0C52F-D188-44A0-ABF9-791411DD1AB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA7A262E-1FBA-41F6-AFE0-48A3A5C691F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55BAAD7-C48B-4FD3-B744-BCEF744A807C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B655556-FA71-4FB9-A6C6-2B93DD8E3AF1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Paste to active application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9FB1BCB-2E3E-4833-AC07-05181B870A0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8A0C52F-D188-44A0-ABF9-791411DD1AB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE4ABE45-B3C0-4223-BD8E-6718D8C0FBBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53504103-BE6D-407A-B813-091A18A24706</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Paste to underlying app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DB5A15E-8C03-45CA-8020-4F58EAEDE015</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E60CA986-311B-4343-9BAB-D62ADEA48327</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74007628-96A9-41D7-A3B6-916EEBB99062</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E638B9CE-AADF-46A5-BFCA-A7C76F3D32C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4091885B-9841-4845-8F7A-FD23F370563D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4C05ECE-A136-43ED-A852-38B81DE0C1C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76E66569-7D24-4F20-8C60-6D1BB3BE011D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAB321CE-7791-460B-ADF6-97E2A360AC4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BFD8BB8-A8FA-444E-9711-B3C64B3D7A15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE4ABE45-B3C0-4223-BD8E-6718D8C0FBBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC970E53-35D9-4038-AA16-763556F598B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93F2ED66-4BC4-4215-898F-E124057C2978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vishal Kotcherlakota</string>
	<key>description</key>
	<string>Get access to Jira tickets from your Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jiragoto</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go To Jira Link</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>74007628-96A9-41D7-A3B6-916EEBB99062</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:jira_url}/browse/{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7B655556-FA71-4FB9-A6C6-2B93DD8E3AF1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E60CA986-311B-4343-9BAB-D62ADEA48327</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter Jira Ticket Number</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC970E53-35D9-4038-AA16-763556F598B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>jiralink</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2B0FC0A1-16CC-4ADD-B650-A4C50218AF36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[Jira Link]({var:jira_url}/browse/{query})</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>93F2ED66-4BC4-4215-898F-E124057C2978</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2301264A-8B69-4451-A558-3C97130E6CBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8EDC51B8-D1D9-4651-9B52-60CDB0D6CD39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>myboard</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting results from Jira API...</string>
				<key>script</key>
				<string>python board.py get_board_issues</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>See issues on my board</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0E158EFE-F8C1-4F29-AC4B-53577B5B6A5F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A9FB1BCB-2E3E-4833-AC07-05181B870A0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>myissues</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving issues from Jira API...</string>
				<key>script</key>
				<string>python issues.py "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show My Issues on Jira</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C55BAAD7-C48B-4FD3-B744-BCEF744A807C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:jira_url}/issues?=jql={var:my_issues_jql}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EA7A262E-1FBA-41F6-AFE0-48A3A5C691F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B8A0C52F-D188-44A0-ABF9-791411DD1AB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:jira_url}/secure/RapidBoard.jspa?rapidView={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9BFD8BB8-A8FA-444E-9711-B3C64B3D7A15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jiraboard</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results from Jira API...</string>
				<key>script</key>
				<string>python board.py get_boards</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a Jira Board</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FAB321CE-7791-460B-ADF6-97E2A360AC4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>53504103-BE6D-407A-B813-091A18A24706</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>boardId=$1

python board.py get_board_issues $boardId </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Showing your tickets on Board</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE4ABE45-B3C0-4223-BD8E-6718D8C0FBBC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2DB5A15E-8C03-45CA-8020-4F58EAEDE015</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Set Jira API Token","arg":"set_token","subtitle":"Set your Jira API Token"},{"title":"Set Board to Follow","arg":"set_board","subtitle":"Pick a Jira Board to view in Alfred"}]</string>
				<key>keyword</key>
				<string>jiraconfig</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Configure Jira Settings</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>1B95671C-AFA4-4411-8479-0FE7B6A8689E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>set_token</string>
						<key>outputlabel</key>
						<string>set_token</string>
						<key>uid</key>
						<string>B5658BBE-6B5E-4ADF-9BCE-0D0959EF5B78</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>set_board</string>
						<key>outputlabel</key>
						<string>set_board</string>
						<key>uid</key>
						<string>A818C23F-AC99-4FBD-8E62-8CEF7AFB9867</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ADEB2CC2-8D68-4F75-94A5-F787396BD689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Generate API Token from id.atlassian.net</string>
				<key>text</key>
				<string>Set Jira API Token</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E638B9CE-AADF-46A5-BFCA-A7C76F3D32C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$*" | go run ./cmd/ setup set-token</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4091885B-9841-4845-8F7A-FD23F370563D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python config.py set_board $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76E66569-7D24-4F20-8C60-6D1BB3BE011D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting boards from Jira API...</string>
				<key>script</key>
				<string>python board.py get_boards</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pick a board to follow with Alfred.</string>
				<key>title</key>
				<string>Select a Board</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4C05ECE-A136-43ED-A852-38B81DE0C1C4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run the `jirasetup` keyword after installing to complete your setup.</string>
	<key>uidata</key>
	<dict>
		<key>0E158EFE-F8C1-4F29-AC4B-53577B5B6A5F</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>1B95671C-AFA4-4411-8479-0FE7B6A8689E</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>2301264A-8B69-4451-A558-3C97130E6CBE</key>
		<dict>
			<key>xpos</key>
			<real>1330</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2B0FC0A1-16CC-4ADD-B650-A4C50218AF36</key>
		<dict>
			<key>xpos</key>
			<real>1140</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2DB5A15E-8C03-45CA-8020-4F58EAEDE015</key>
		<dict>
			<key>xpos</key>
			<real>1590</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>4091885B-9841-4845-8F7A-FD23F370563D</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>53504103-BE6D-407A-B813-091A18A24706</key>
		<dict>
			<key>xpos</key>
			<real>1595</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>74007628-96A9-41D7-A3B6-916EEBB99062</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>76E66569-7D24-4F20-8C60-6D1BB3BE011D</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1045</real>
		</dict>
		<key>7B655556-FA71-4FB9-A6C6-2B93DD8E3AF1</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8EDC51B8-D1D9-4651-9B52-60CDB0D6CD39</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>93F2ED66-4BC4-4215-898F-E124057C2978</key>
		<dict>
			<key>xpos</key>
			<real>1535</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9BFD8BB8-A8FA-444E-9711-B3C64B3D7A15</key>
		<dict>
			<key>xpos</key>
			<real>1345</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>A9FB1BCB-2E3E-4833-AC07-05181B870A0D</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>ADEB2CC2-8D68-4F75-94A5-F787396BD689</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>B8A0C52F-D188-44A0-ABF9-791411DD1AB8</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C55BAAD7-C48B-4FD3-B744-BCEF744A807C</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>CE4ABE45-B3C0-4223-BD8E-6718D8C0FBBC</key>
		<dict>
			<key>xpos</key>
			<real>1320</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>E60CA986-311B-4343-9BAB-D62ADEA48327</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>E638B9CE-AADF-46A5-BFCA-A7C76F3D32C4</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>EA7A262E-1FBA-41F6-AFE0-48A3A5C691F3</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>F4C05ECE-A136-43ED-A852-38B81DE0C1C4</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>1045</real>
		</dict>
		<key>FAB321CE-7791-460B-ADF6-97E2A360AC4D</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>FC970E53-35D9-4038-AA16-763556F598B3</key>
		<dict>
			<key>xpos</key>
			<real>1320</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://contoso.atlassian.net/</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The URL for the root of the Jira instance</string>
			<key>label</key>
			<string>Jira URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>jira_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>jdoe@contoso.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your username for Jira.</string>
			<key>label</key>
			<string>Jira Username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>jira_username</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>status in ("In Progress", "To Do", Triage, "Code Review") AND updated &gt;= -52w AND assignee in (currentUser()) order by lastViewed DESC</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>JQL used to find "My Issues"</string>
			<key>label</key>
			<string>My Issues Query</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>my_issues_jql</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>kotcherlakota.org</string>
</dict>
</plist>
